@media (max-width: 75em) {
    html {
      /* 9px / 16px  */
      font-size: 56.25%;
    }
}

@media (max-width: 75em) {

}

@media screen and (max-width:50em) {

    .AboutSection{
        flex-direction: column;
    }
    .as-left{
        width: 100%;

    }
    .aboutimage{
        height: 50vh;
    }
    .as-right{
        width: 100%;
        text-align: center;        
    }
    .about-text-1{
        font-size: 3rem;
    }
    
    
    .about-text-3,.about-text-4{
       font-size: 2.5rem;
    
    }
    .about-list{
        font-size: 2rem;
    }

    .features{
        flex-direction: column;
        /* display: flex;
        justify-content: space-between;
        align-items: center; */
        width: 100%;
        margin: 0 auto;
    }
    .feature-box {
        
        font-size: 1.8rem;
        margin-bottom: 1rem;
 }
        
        .feature-box__icon {
          font-size: 5rem;
         
         }
      
         .video-section{
flex-direction: column;
         }
         .video-details{
             padding: 1rem;
         }
         .video-text-1{
            font-size: 2rem;
        }
        .video-text-4{

            font-size: 1.6rem;
        
            
        }
        .trdbutton{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .section-sixer{
            display: grid;
            grid-template-rows: repeat(2,1fr);           
        }
        .team-users{
            flex-direction: column;
        }
    
    .team-mem-2{
        
        flex-direction: column;
    }
    .team-section {
        padding: 20rem 0;
    }
.sub-tem-2{

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
 }
 
 .inside-circle span{
    display: block;
}
.bs-head{
    display: none;
}

.nav{
    display: block;
    z-index: 9999;
}
.responsive-nav{
    display: none;
}

.head-text-middle-0{
    font-size: 2.0rem;
}
.head-text-middle-1,.head-text-middle-2{
    font-size: 4rem;
}

.btn{
    padding: 1.2rem 2.5rem;
   
    border-radius: 5rem;
  
    height: 8%;
    background-size:6rem 3rem;
   
    font-size: 1.8rem;
}



}



/************************
*/


/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    font-size: 1.6rem;
    color: #fff;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    
  }

.icon-menu-img{
height: 4rem;
width: 4rem;
border-radius: 3px;
}